---
import { getCollection } from "astro:content";
import type { GetStaticPathsOptions } from "astro";
import Base from "../../layouts/Base.astro";
import Pagination from "../../components/Pagination.astro";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const notes = await getCollection("note");
  const sorted = notes.sort(
    (a, b) => b.data.date.getTime() - a.data.date.getTime()
  );
  return paginate(sorted, { pageSize: 10 });
}

const { page } = Astro.props;
---

<Base title="Notes" section="note">
  <main class="note-section-main">
    <header class="note-section-header">
      <img
        alt="A statue of an angel"
        class="section-hero-image--note"
        src="/img/layout/angel-small.png"
      />
      <h1 class="note-list-title">Notes</h1>
    </header>
    {page.data.map((note) => {
      const dateIso = note.data.date.toISOString().slice(0, 10);
      const dateStr = note.data.date.toLocaleDateString("en-GB", {
        year: "numeric",
        month: "short",
        day: "numeric",
      });
      return (
        <article class="note-list-item">
          <div class="note-list__content">{note.data.title}</div>
          <time class="note-list__date" datetime={dateIso}>
            <a href={`/note/${note.id}/`}>{dateStr}</a>
          </time>
        </article>
      );
    })}
    <Pagination
      currentPage={page.currentPage}
      lastPage={page.lastPage}
      prevUrl={page.url.prev}
      nextUrl={page.url.next}
    />
  </main>
</Base>
